@import '../../variables.scss';

footer {
   padding: 10px;
   text-align: center;
   background: $tertiary;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;

   * {
      font-size: 0.8rem;
   }
}